.health-find-provider .health-find-provider-single {
	min-height: 200px;
}

/*.health-find-provider-single img{
	max-width:none;	
}*/

@media(min-width:320px) {
	.health-find-provider-single img {
		width: 200px;
	}
}

@media(min-width:768px) {
	.health-find-provider .health-find-provider-single {
		min-height: 250px;
	}
	/*.health-find-provider-single img{
		width:110px;	
	}*/
}

@media(min-width:992px) {
	.health-find-provider .health-find-provider-single {
		min-height: 240px;
	}
	/*.health-find-provider-single img{
		width:150px;	
	}*/
}

.health-find-provider-single .health-find-provider-data p {
	margin-bottom: 0;
	line-height: 1.5em;
}

.health-find-provider-single {
	margin-top: 25px;
	margin-bottom: 10px;
}

.health-find-provider-single .health-find-provider-bio a {
	font-size: 16px;
	padding: 6px 12px;
}

.health-find-provider-bio {
	margin: 12px 0 24px 0;
}

.health-find-provider-bio a {
	background-color: #000f30;
	border: 0;
}

.health-find-provider-bio a:hover {
	background-color: #7C878E;
}

.health-find-provider-accepting-patients {
	color: #333;
	font-size: 11px;
	font-weight: bold;
	margin: 4px 0 0 0;
	text-transform: uppercase;
}

.health-find-provider-accepting-patients.not-accepting {
	color: #ccc;
}

.health-find-provider-phone {
	margin: 12px 0 0 0;
}

.health-find-provider-req {
	margin: 4px 0 0 0;
}

.health-find-provider-phone a,
.health-find-provider-req a {
	color: #000e30;
	font-weight: bold;
	padding-bottom: 0px;
	box-shadow: inset 0 -0.14em #7cb405;
	text-decoration: none;
}

.health-find-provider-phone a:hover,
.health-find-provider-req a:hover {
	transition: .35s;
	color: #000e2f;
	background-color: #7cb405;
}

.health-find-provider-phone a:visited,
.health-find-provider-req a:visited {
	color: #666666;
}
